


.circle{
    height: 100px;
    width: 100px;
    background-color:rgb(112, 218, 218);
    margin: 100px 10px;
    transition:2s ease-in;

}

.circle:hover{
    background-color: rgb(7, 57, 219);
     border-radius:50%;
}



section div{
    height: 100px;
    width: 100px;
    background-color:orchid;
    margin:10px;
    transition: 2s;
}


section:hover div{
    margin-left: 200px;
    
}


div:nth-of-type(1){
    transition-timing-function: ease-in;
}
div:nth-of-type(2){
    transition-timing-function: ease-out;
}
div:nth-of-type(3){
    transition-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
}
div:nth-of-type(4){
    transition-timing-function:  cubic-bezier(0.85, 0, 0.15, 1);
} 



    